<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
 <!--   <add key="load" value="FactoryMethodLib.AudiFactory, FactoryMethodLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>  -->    <!--for comment-->
   <add key="load" value="FactoryMethodLib.BMWFactory, FactoryMethodLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>  
    <!--<add key="load" value="FactoryMethodLib.TeslaFactory, FactoryMethodLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->  
  </appSettings>
</configuration>
