<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Loadfactory" value=""/>      <!--for comment-->
    <add key="Loadfactory" value=""/>
    <add key="Loadfactory" value=""/>
  </appSettings>
</configuration>